html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/*-------header---------*/
.container {
  padding: 25px;
}
.headerBackground {
  background-color: #f8f9fe;
  margin: 0;
  height: 235px;
  border-radius:  0 0  25px 25px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
}
.title {
  padding-top: 15px;
  border-bottom: 2px solid #898c9d;
}
.title h1 {
  margin: 0;
  font-size: 20px;
}
.title p {
  font-size: 12px;
  font-weight: 700;
  color: #898c9d;
}
.darkContainer {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}
.darkContainer p {
  font-size: 12px;
  font-weight: 700;
  color: #898c9d;
}

/*-----switch-------*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}
.slider.round {
  border-radius: 25px;
}
.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 375px) {
  .darkContainer {
    justify-content: space-between;
  }
  .headerContainer {
    display: block;
  }
}
@media (max-width: 768px) {

}
@media (max-width: 1440px) {

}