:root {
  --facebookColor: hsl(208, 92%, 53%);
  --twiterColor: hsl(203, 89%, 53%);
  --instagramColor: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtubeColor: hsl(348, 97%, 39%);
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.wrapper {
  max-width: 500px;
  padding: 25px;
  margin: 0 auto;
}

/*----switch-------*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #ccc;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}
.slider.round {
  border-radius: 25px;
}
.slider.round:before {
  border-radius: 50%;
}

/*--------header--------*/

.header {
  background-color: #f8f9fe;
  margin: 0;
  border-radius: 0 0 25px 25px;
  padding-bottom: 40px;
  position: relative;
}
.title {
  padding-top: 15px;
  border-bottom: 2px solid #898c9d;
}
.title h1 {
  margin: 0;
  font-size: 20px;
}
.title p {
  font-size: 12px;
  font-weight: 700;
  color: #898c9d;
}
.darkContainer {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.darkContainer p {
  font-size: 12px;
  font-weight: 700;
  color: #898c9d;
}

/*-----main-----*/

.position {
  position: absolute;
  top: 145px;
  width: 100%;
}
.feacturesGrid {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 25px;
}
.cardContainer {
  background-color: #f0f3fa;
  height: 215px;
  width: 100%;
  padding-top: 30px;
  text-align: center;
  border-radius: 5px;
}
.facebook {
  border-top: 3px solid var(--facebookColor);
}
.twitter {
  border-top: 3px solid var(--twiterColor);
}
.instagram {
  position: relative;
}
.instagram::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: var(--instagramColor);
}
.youtube {
  border-top: 3px solid var(--youtubeColor);
}
.social {
  display: flex;
  height: 20px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}
.social p {
  padding-left: 5px;
  margin: 0;
}
.number {
  font-size: 45px;
  font-weight: 700;
  margin: 25px 0 10px 0;
}
.followers {
  font-size: 11px;
  letter-spacing: 5px;
  font-weight: 300;
  margin: 0;
}
.day {
  display: flex;
  justify-content: center;
  font-size: 11px;
  font-weight: 700;
  color: #32be97;
  height: 11px;
  margin-top: 30px;
}
.day p {
  padding-left: 5px;
  margin: 0;
}

/*------Overview------*/

.overviewGrid h2{
  margin-top: 0;
}
.overviewCards-grid{
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 20px;
}
.overviewCards {
  background-color: #f0f3fa;
  border-radius: 5px;
  padding: 25px 25px 0 25px;
}
.overviewCardsTitle, 
.overviewCardsNumber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overviewCardsTitle p {
  margin: 0;
  font-size: 11px;
  font-weight: bold;
}
.overviewCardsTitle img {
  height: 20px;
}
.overviewCardsNumber {
  font-size: 25px;
  font-weight: 700;
}
.overviewImg {
  display: flex;
  justify-content: center;
  height: 11px;
  font-size: 11px;
  align-items: center;
  color: #32be97;
}
.overviewImg p{
  padding-left: 5px;
}
.overviewImgColorRed {
  color: #dc414c;
}

/*------media query------*/

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: none;
  }
  .headerGrid {
    display: flex;
    justify-content: space-between;
  }
  .title {
    border-bottom: none;
  }
  .darkContainer p {
    padding-right: 10px;
  }
  .position {
    top: 100px;
  }
  .feacturesGrid,
  .overviewCards-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1000px;
  }
  .feacturesGrid,
  .overviewCards-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
  }
}